# Ignore python cache
__pycache__/
*.pyc

# Ignore python virtual environments
venv/
.venv/
env/

# Ignore large model weights (GitHub has a 100MB file limit)
models/SAGAN.pth
models/tmp/

# Ignore local datasets
data/
